Sphinx == 1.8.5
sphinx-rtd-theme
sphinxcontrib-httpdomain
recommonmark
docutils==0.17.1
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability